<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.shaur.nimblenavigationdrawer">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/nimble_leaf"
        android:label="@string/app_name"
        android:roundIcon="@drawable/nimble_leaf"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Contact"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Contact_email"
            android:label="@string/title_activity_contact_email"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".signup" />
        <activity android:name=".signin" />
        <activity
            android:name=".signout"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".splashscreen_nimble">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".no_internet" />
        <activity
            android:name=".year_main_fragment"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".BooksPost"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".FireDriveActivity" />
        <activity android:name=".FileUploadActivity" />
        <activity android:name=".StorageDisplayActivity"></activity>
    </application>

</manifest>